# Amazon Web Scraping Using Python

In [78]:
from bs4 import BeautifulSoup
import requests
import time
import datetime

import smtplib

In [80]:
# Connect to Website and pull in data

url= 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?customId=B0752XJYNL&dchild=1&keywords=data+analyst+tshirt&qid=1626655184&sr=8-3&th=1'

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/128.0.0.0 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

page = requests.get(url, headers = headers)

soup1= BeautifulSoup(page.content,'html.parser')
soup2= BeautifulSoup(soup1.prettify(),'html.parser')

title = soup2.find(id='productTitle').get_text(strip=True)
price_symbol = soup2.find(class_="a-price-symbol").get_text(strip=True)
price_whole = soup2.find(class_='a-price-whole').get_text(strip=True)
price_fraction = soup2.find(class_='a-price-fraction').get_text(strip=True)
price = f'{price_symbol}{price_whole}{price_fraction}'

print(title)
print(price)

Funny Got Data MIS Data Systems Business Analyst T-Shirt
$18.99

In [81]:
price =price.strip()[1:]
title = title.strip()
print(title)
print(price)

Funny Got Data MIS Data Systems Business Analyst T-Shirt
18.99

In [96]:
date = datetime.date.today()
print(date)

2024-09-03

In [100]:
# Create CSV and write headers and data into the file

import csv

header = ('Title','Price','Date')
data = [title , price , date]

with open('AmazonWebScraperDataset.csv','w',newline='',encoding = 'UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [120]:
import pandas as pd

df = pd.read_csv(r'C:\Users\WIN\Desktop\data analysis\projects\portofolio\AmazonWebScraperDataset.csv')
df

                                               Title  Price        Date
0  Funny Got Data MIS Data Systems Business Analy...  18.99  2024-09-03
1  Funny Got Data MIS Data Systems Business Analy...  18.99  2024-09-03
2  Funny Got Data MIS Data Systems Business Analy...  18.99  2024-09-03
3  Funny Got Data MIS Data Systems Business Analy...  18.99  2024-09-03
4  Funny Got Data MIS Data Systems Business Analy...  18.99  2024-09-03

In [118]:
# Appending data to the csv
with open('AmazonWebScraperDataset.csv','a+',newline='',encoding = 'UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [102]:
#Combine all of the above code into one function

def check_price():
    url= 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?customId=B0752XJYNL&dchild=1&keywords=data+analyst+tshirt&qid=1626655184&sr=8-3&th=1'
    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/128.0.0.0 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

    page = requests.get(url, headers = headers)

    soup1= BeautifulSoup(page.content,'html.parser')
    soup2= BeautifulSoup(soup1.prettify(),'html.parser')

    title = soup2.find(id='productTitle').get_text(strip=True)
    price_symbol = soup2.find(class_="a-price-symbol").get_text(strip=True)
    price_whole = soup2.find(class_='a-price-whole').get_text(strip=True)
    price_fraction = soup2.find(class_='a-price-fraction').get_text(strip=True)
    price = f'{price_symbol}{price_whole}{price_fraction}'

    date = datetime.date.today()

    import csv
    header = ('Title','Price','Date')
    data = [title , price , date]
    
    with open('AmazonWebScraperDataset.csv','a+',newline='',encoding = 'UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

In [ ]:
while(True):
    check_price()
    time.sleep(86400)

In [ ]:
import pandas as pd

df = pd.read_csv(r'C:\Users\WIN\Desktop\data analysis\projects\portofolio\AmazonWebScraperDataset.csv')
df